<a href="https://colab.research.google.com/github/Zilch123/Persistent-Label-Encoder/blob/main/Persistent_Label_encoder_model_train_and_Inference_label_fit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from labelEncoder import Label_Encoder_fit, label_encode_transform

### Working Example

In [ ]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder
import joblib

In [ ]:
import string

#####__________train dataset__________#####
df_train = pd.DataFrame(np.arange(120).reshape(40,3),
                  columns=list('ABC')).applymap(lambda x: np.random.choice(list(string.ascii_letters)))

#####__________inference dataset__________#####
df_infer = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC')).applymap(lambda x: np.random.choice(list(string.ascii_letters)))

In [ ]:
##### __________List all columns that needs to be label encoded__________#####
categorical_features =['A', 'B', 'C']

##### __________label encode the train dataset__________#####
df_train_lbl, encoder_dict = Label_Encoder_fit(df_train, categorical_features)

In [ ]:
#####__________Pickle the encoder dict__________#####
joblib.dump(encoder_dict, 'encoder.pkl')

['encoder.pkl']

In [ ]:
##### __________label encode the Inference dataset using the encoder pickle__________#####
df_infer_lbl = label_encode_transform(df_infer = df_infer.copy(), 
                                      encoder='C:\\Users\\Timoth\\Desktop\\AMN\\encoder.pkl',
                                      categorical_features = categorical_features)

In [ ]:
# _____________let's now compare by eyeballing the train encoded value Vs the inference encoded _____________#
# _______________________________________and clearly the match ______________________________________________#

In [ ]:
df_train

    A  B  C
0   E  V  k
1   L  h  m
2   s  d  D
3   G  c  n
4   I  v  C
5   S  G  f
6   P  R  g
7   N  T  d
8   k  f  c
9   S  r  j
10  k  m  k
11  Q  l  Y
12  V  y  e
13  p  O  A
14  P  f  g
15  I  d  B
16  D  J  l
17  l  G  V
18  v  B  C
19  t  N  s
20  a  d  Y
21  U  O  g
22  z  T  m
23  X  d  d
24  O  o  X
25  C  S  y
26  q  y  c
27  c  I  K
28  g  F  o
29  P  X  S
30  k  d  t
31  y  g  N
32  E  t  m
33  M  y  H
34  g  O  N
35  O  E  A
36  W  d  n
37  M  A  K
38  I  V  o
39  Y  k  Q

In [ ]:
df_infer

   A  B  C
0  c  c  H
1  g  I  m
2  w  o  n
3  f  c  b

In [ ]:
df_train_lbl

     A   B   C
0    2  13  19
1    5  19  21
2   25  16   3
3    3  15  22
4    4  26   2
5   11   4  16
6    9   9  17
7    7  11  14
8   21  17  13
9   11  24  18
10  21  22  19
11  10  21  12
12  14  27  15
13  23   8   0
14   9  17  17
15   4  16   1
16   1   6  20
17  22   4  10
18  27   1   2
19  26   7  24
20  18  16  12
21  12   8  17
22  29  11  21
23  16  16  14
24   8  23  11
25   0  10  26
26  24  27  13
27  19   5   5
28  20   3  23
29   9  14   8
30  21  16  25
31  28  18   6
32   2  25  21
33   6  27   4
34  20   8   6
35   8   2   0
36  15  16  22
37   6   0   5
38   4  13  23
39  17  20   7

In [ ]:
df_infer_lbl

    A   B   C
0  19  15   4
1  20   5  21
2  13  23  22
3  13  15   9